.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../assets/images/cedar-logo-80x80.png');
  background-size: cover;
}

.mat-card-avatar {
  background-color: #3d8085;
}
